* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", Times, serif;
  background-color: #333333;
  padding: 50px 0;
}

#wrapper {
  min-width: 400px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0px;
  background-color: rgba(50,50,50,0.9);
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: Abel, Helvetica, Arial, sans-serif;
}

nav a {
  color: #ccc;;
  text-decoration: none;
  margin-right: 20px;
}

nav a:last-child {
  margin: 0;
}

.active {
  color: white;
}

header, footer {
  background-color: #333333;
  text-align: center;
  color: white;
  padding: 40px 0;
}

section {
  background-color: #dddddd;
}

.gallery {
  margin: 0 auto;
  width: 50%;
}

article {
  width: ;
  min-width: 400px;
  margin: 0 auto;
  padding: 50px;
}

.intro {
  width: 50%;
  max-width: 900px;
  padding-top: 0;
}

.list {
  width: 40%;
}

.list:first-child {
  padding-bottom: 0;
}

.question {
  padding: 10px 0;
  background-color: #dddddd;
  border-bottom: 1px solid #bbb;
}

footer {
  padding: 50px;
  background-color: #333;
}

.buttonBar {
  margin: 0 auto;
  width: 250px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  color: white;
}

h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  color: #777777;
}

p, li {
  line-height: 1.5em;
  font-family: Abel, Helvetica, Arial, sans-serif;
  text-align: justify;
  font-size: 22px;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin: 0;
}

li {
  color: #666666;
}

.btn {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 25px;
}

.btn a:link, .btn a:visited {
  text-decoration: none;
  color: #ccc;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.btn a:hover, .btn a:active {
  color: white;
}

img {
  width: 50%;
  margin: 0;
  padding: 0;
  border: none;
}
